.container{
    width: 100%;
    max-width: 145rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.second-container{
    width: 100%;
    max-width: 160rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}