.s-hero{
    .bg-container{
        height: 87rem;
        width: 100%;
        display: flex;
        align-items: center;
        background: url(../img/slide/car-slide1.jpg) no-repeat center center;
        background-size: cover;
        .container{
            display: flex;
            justify-content: flex-end;
            margin-top: -23rem;
            .text-content{
                width: 100%;
                max-width: 41rem;
                margin-right: 5rem;
                h1{
                    color: #272B28;
                    font-size: 8rem;
                    font-family: Poppins;
                    font-weight: 700;
                }
                p{
                    color: #FFF;
                    font-size: 2rem;
                    font-family: Poppins;
                    font-weight: 600;
                    margin-top: -3rem;
                }
                .btn-home{
                    margin-left: 22rem;
                }
            }
        }
    }
    @media (max-width: 1080px){
        .bg-container{
            .container{
                .text-content{
                    margin-right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    h1{
                        font-size: 7rem;
                    }
                    p{
                        font-size: 1.7rem;
                        margin-top: -2rem;
                        margin-right: 8rem;
                    }
                    .btn-home{
                        margin-left: 22rem;
                    }
                }
            }
        }
    }
    @media (max-width: 880px){
        .bg-container{
            .container{
                display: flex;
                align-items: center;
                justify-content: center;
                .text-content{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: -28rem;
                    h1{
                        font-size: 6.5rem;
                    }
                    p{
                        font-size: 1.6rem;
                        margin-top: -2rem;
                        margin-right: 6.7rem;
                    }
                    .btn-home{
                        display: none;
                    }
                }
            }
        }
    }
    @media (max-width: 490px){
        .bg-container{
            .container{
                .text-content{
                    h1{
                        font-size: 5rem;
                    }
                    p{
                        font-size: 1.4rem;
                        margin-top: -1rem;
                        margin-right: 3rem;
                    }
                }
            }
        }
    }
}

.s-infos{
    position: relative;
    background: #2D2D2D;
    height: 47rem;
    .container{
        display: grid;
        grid-template-columns: repeat(2, 50rem);
        grid-gap: 8rem 15rem;
        place-content: center;
        z-index: 3;
        .card-container{
            margin-top: -9rem;
            width: 100%;
            max-width: 50rem;
            height: 21rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            background: #D9D9D9;
            border-radius: 15px;
            &.card-top{
                margin-bottom: 9rem;
            }
            .left-content{
                width: 100%;
                max-width: 16rem;
                background-color: #0CB55D;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3.5rem 2rem;
                border-radius: 10px;
                img{
                    width: 8rem;
                    &.icon-envelope{
                        width: 7rem;
                    }
                    &.icon-maior{
                        width: 9rem;
                    }
                }
            }
            .right-content{
                h4{
                    font-size: 2.3rem;
                    font-weight: 700;
                    margin-bottom: .9rem;
                }
                p{
                    color: #717171;
                    font-size: 1.7rem;
                    font-weight: 500;
                    width: 100%;
                    max-width: 26rem;
                    margin-bottom: 1.8rem;
                }
                .btn-info{
                    display: block;
                    padding: 1.8rem;
                    font-size: 1.7rem;
                    text-align: center;
                    border-radius: 8px;
                    background: #272B28;
                    color: #FFF;
                    transition: all .3s;
                    &:hover{
                        background-color: rgba(39, 43, 40, 0.83);
                    }
                }
            }
        }
    }
    @media (max-width: 1190px){
        .container{
            grid-gap: 4rem;
        }
    }
    @media (max-width: 1080px){
        .container{
            grid-template-columns: repeat(2, 40rem);
            grid-gap: 6rem 4rem;
            .card-container{
                max-width: 40rem;
                height: 21rem;
                padding: 2rem;
                .left-content{
                    max-width: 12rem;
                    padding: 3.5rem 2rem;
                    img{
                        width: 6rem;
                        &.icon-envelope{
                            width: 6.7rem;
                        }
                        &.icon-maior{
                            width: 7.4rem;
                        }
                    }
                }
                .right-content{
                    h4{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.5rem;
                        max-width: 24rem;
                    }
                    .btn-info{
                        padding: 1.5rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
    @media (max-width: 880px){
        height: 93rem;
        .container{
            grid-template-columns: repeat(1, 55rem);
            grid-gap: 5rem;
            .card-container{
                max-width: 55rem;
                gap: 6rem;
                &.card-money{
                    margin-bottom: 9rem;
                }
                .left-content{
                    max-width: 16rem;
                    padding: 3.5rem 2rem;
                    img{
                        width: 9rem;
                        &.icon-envelope{
                            width: 8rem;
                        }
                        &.icon-maior{
                            width: 9rem;
                        }
                    }
                }
                .right-content{
                    h4{
                        font-size: 2.3rem;
                    }
                    p{
                        font-size: 1.7rem;
                        max-width: 27rem;
                    }
                    .btn-info{
                        padding: 1.5rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    @media (max-width: 580px){
        .container{
            grid-template-columns: repeat(1, 44rem);
            grid-gap: 5rem;
            .card-container{
                max-width: 44rem;
            }
        }
    }
    @media (max-width: 480px){
        height: 168rem;
        .container{
            grid-template-columns: repeat(1, 30rem);
            grid-gap: 9rem;
            .card-container{
                margin-top: -12rem;
                max-width: 30rem;
                flex-direction: column;
                height: 40rem;
                gap: 2.4rem;
                .left-content{
                    max-width: 28rem;
                    img{
                        width: 9rem;
                    }
                }
                .right-content{
                    h4{
                        font-size: 2rem;
                    }
                    p{
                        font-size: 1.6rem;
                        max-width: 27rem;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }
}

.s-family{
    margin-bottom: 6.4rem;
    .container{
        .images-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 6rem;
            .box{
                width: 100%;
                height: 51.5rem;
                .image-content{
                    cursor: pointer;
                    &.image-01{
                        background: url(../img/familia/familia-rangerover.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    &.image-02{
                        background: url(../img/familia/familia-discovery.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    &.image-03{
                        background: url(../img/familia/familia-defender.jpg) no-repeat center center;
                        background-size: cover;
                    }
                    .text-content{
                        background-color: rgba(0, 0, 0, 0.5);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        height: 51.5rem;
                        opacity: 0;
                        transition: all .6s;
                        &:hover{
                            opacity: 1;
                        }
                        h3{
                            color: #FFF;
                            font-size: 4.5rem;
                            font-weight: 500;
                        }
                        p{
                            color: #FFF;
                            font-size: 2rem;
                            font-weight: 500;
                            letter-spacing: 1.5px;
                        }
                        .btn-family{
                            display: block;
                            border-radius: 6px;
                            background: #364D41;
                            padding: 2.6rem 4rem;
                            margin-top: 4rem;
                            font-size: 1.9rem;
                            color: #FFF;
                            transition: all .3s;
                            &:hover{
                                background-color: #0CB55D;
                            }
                        }
                    }      
                }
                .text-content-responsive{
                    display: none;
                    pointer-events: none;
                }
            }
        }
    }

    @media (max-width: 1080px){
        .container{
            .images-content{
                gap: 1rem;
                .box{
                    .image-content{
                        height: 48rem;
                        .text-content{
                            height: 48rem;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 700px){
        .container{
            margin-bottom: 0;
            .images-content{
                .box{
                    &:not(:last-child){
                        margin-bottom: 2rem;
                    }
                    .image-content{
                        cursor: auto;
                        height: 40rem;
                        .text-content{
                            display: none;
                            height: 40rem;
                        }
                    }
                    .text-content-responsive{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        pointer-events: all;
                        margin-top: 2rem;
                        .box-text{
                            h3{
                                font-size: 2.5rem;
                            }
                            p{
                                font-size: 1.7rem;
                                color: #7c7c7c;
                                font-weight: 600;
                            }
                        }                   
                        .btn-family{
                            padding: 2rem 3.4rem;
                            font-size: 1.5rem;
                            border-radius: 6px;
                            background: #364D41;
                            margin-top: 4rem;
                            font-size: 1.4rem;
                            color: #FFF;
                            transition: all .3s;
                            &:hover{
                                background-color: #0CB55D;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 560px){
        .container{
            .images-content{
                gap: 0;
                .box{
                    .image-content{
                        height: 36rem;
                    }
                    .text-content-responsive{
                        margin-top: 2.5rem;
                        .box-text{
                            h3{
                                font-size: 2rem;
                            }
                            p{
                                font-size: 1.5rem;
                            }
                        }                   
                        .btn-family{
                            padding: 2rem 2.8rem;
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 480px){
        .container{
            margin-bottom: 4rem;
            .images-content{
                .box{
                    &:not(:first-child){
                        margin-top: 5rem;
                    }
                    .image-content{
                        height: 35rem;
                    }
                    .text-content-responsive{
                        flex-direction: column;
                        margin: 0 auto;
                        text-align: center;
                        .box-text{
                            margin-top: 3rem;
                            margin-bottom: 4rem;
                            h3{
                                font-size: 2.4rem;
                            }
                            p{
                                font-size: 1.6rem;
                            }
                        }                   
                        .btn-family{
                            padding: 2rem 4rem;
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}

.s-shop{
    margin-bottom: 6.4rem;
    .second-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        grid-gap: 7rem;
        .card-container{
            width: 100%;
            max-width: 45rem;
            border-radius: 8px;
            height: 54rem;
            background: #D6EBE0;
            .card-image{
                margin-bottom: 2rem;
                img{
                    width: 100%;
                    height: 27rem;
                    max-width: 45rem;
                    border-radius: 8px;
                }
            }
            .card-content{
                padding: 3rem;
                &.card-content-second{
                    .texts{
                        .text-title-p{
                            h4{
                                font-size: 2rem;
                            }
                            p{
                                max-width: 35rem;
                            }
                        }
                    }
                    .card-btns{
                        margin-top: 3.7rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .card-btn{
                            &.montar-btn{
                                text-align: center;
                                width: 100%;
                            }
                        }
                    }
                }
                .texts{
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    .text-title-p{
                        h4{
                            color: #000;
                            font-size: 2.3rem;
                            font-weight: 700;
                            margin-top: -.8rem;
                            margin-bottom: 1rem;
                        }
                        p{
                            width: 100%;
                            max-width: 30rem;
                            color: #8B8B8B;
                            font-size: 1.6rem;
                            font-weight: 600;
                        }
                    }
                    .text-link{
                        a{ 
                            font-size: 1.4rem;
                            font-weight: 700;
                            color: #8B8B8B;
                            transition: all .3s;
                            &::after{
                                content: "";
                                display: block;
                                width: 100%;
                                height: 3px;
                                background-color: #8B8B8B;
                            }
                            &:hover{
                                color: #a5a5a5;
                            }
                        }
                    }
                }
                .card-btns{
                    margin-top: 6rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .card-btn{
                        padding: 2.5rem 3rem;
                        font-size: 1.7rem;
                        font-weight: 600;
                        border-radius: 6px;
                        transition: all .6s;
                        &.montar-btn{
                            background: #364D41;
                            color: #FFF;
                            border: 3px solid transparent;
                            &:hover{
                                border-color: #364D41;
                                background-color: transparent;
                                color: #2D2D2D;
                            }
                        }
                        &.cotacao-btn{
                            padding: 2.5rem 2.3rem;
                            border: 3px solid #364D41;
                            color: #2D2D2D;
                            &:hover{
                                background: #364D41;
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }
    }

    @media(max-width: 1500px){
        .second-container{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media(max-width: 980px){
        .second-container{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    @media(max-width: 560px){
        .second-container{
            .card-container{
                max-width: 40rem;
                height: 58rem;
                &.card-container-second{
                    height: 50rem;
                }
                .card-image{
                    margin-bottom: 1.5rem;
                    img{
                        height: 25rem;
                        max-width: 40rem;
                    }
                }
                .card-content{
                    padding: 2rem;
                    &.card-content-second{
                        .texts{
                            .text-title-p{
                                h4{
                                    font-size: 2rem;
                                }
                            }
                        }
                        .card-btns{
                            margin-top: 3.7rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .card-btn{
                                &.montar-btn{
                                    text-align: center;
                                    width: 100%;
                                }
                            }
                        }
                        
                    }
                    .texts{
                        .text-title-p{
                            h4{
                                font-size: 1.8rem;
                                margin-top: 0;
                            }
                            p{
                                font-size: 1.3rem;
                            }
                        }
                        .text-link{
                            a{ 
                                font-size: 1.2rem;
                            }
                        }
                    }
                    .card-btns{
                        margin-top: 4rem;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        gap: 2rem;
                        .card-btn{
                            padding: 2rem 3rem;
                            font-size: 1.6rem;
                            &.montar-btn{
                                width: 100%;
                                text-align: center;
                                font-weight: 500;
                            }
                            &.cotacao-btn{
                                padding: 2rem 2.3rem;
                                width: 100%;
                                text-align: center;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 420px){
        .second-container{
            .card-container{
                .card-content{
                    &.card-content-second{
                        .texts{
                            .text-title-p{
                                h4{
                                    font-size: 1.6rem;
                                }
                            }
                        }
                        .card-btns{
                            .card-btn{
                                span{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.s-explore{
    background: #2D2D2D;
    padding-bottom: 5rem;
    .container{
        h2{
            color: #FFF;
            font-size: 5rem;
            font-weight: 700;
            text-align: center;
            padding-top: 5rem;
        }
        .explorar-top{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 2rem;
            padding-top: 10rem;
            .content-left{
                h3{
                    color: #FFF;
                    font-size: 2.8rem;
                    font-weight: 600;
                }
                p{
                    color: #C1C1C1;
                    font-size: 1.7rem;
                    font-weight: 500;
                    line-height: 180%;
                    margin-top: 3rem;
                    margin-bottom: 6rem;
                    width: 100%;
                    max-width: 65rem;
                }
                .btn-explorar{
                    padding: 2rem 3.8rem;
                    border: 3px solid #fff;
                    color: #fff;
                    font-weight: 400;
                    font-size: 2rem;
                    border-radius: 8px;
                    transition: all .3s;
                    &:hover{
                        background: rgba(255, 255, 255, 0.295);
                        border-color: rgba(255, 255, 255, 0.295);
                    }
                }
            }
            .content-right{
                width: 100%;
                max-width: 69.1rem;
                height: 57.4rem;
                img{
                    border-radius: 8px;
                }
            }
        }
        .explorar-bottom{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 2rem;
            .content-right{
                width: 100%;
                max-width: 69.1rem;
                height: 50rem;
                img{
                    height: 50rem;
                    border-radius: 8px;
                }
            }
            .content-left{
                h3{
                    color: #FFF;
                    font-size: 2.8rem;
                    font-weight: 600;
                }
                p{
                    color: #C1C1C1;
                    font-size: 1.7rem;
                    font-weight: 500;
                    line-height: 180%;
                    margin-top: 3rem;
                    margin-bottom: 6rem;
                    width: 100%;
                    max-width: 65rem;
                }
                .btn-explorar{
                    padding: 2rem 3.8rem;
                    border: 3px solid #fff;
                    color: #fff;
                    font-weight: 400;
                    font-size: 2rem;
                    border-radius: 8px;
                    transition: all .3s;
                    &:hover{
                        background: rgba(255, 255, 255, 0.295);
                        border-color: rgba(255, 255, 255, 0.295);
                    }
                }
            }
        }
    }

    @media(max-width: 1120px){
        .container{
            .explorar-top{
                .content-right{
                    width: 100%;
                    max-width: 60rem;
                    height: 57.4rem;
                }
            }
            .explorar-bottom{
                .content-right{
                    width: 100%;
                    max-width: 56rem;
                    height: 53rem;
                }
            }
        }
    }
    @media(max-width: 980px){
        .container{
            h2{
                font-size: 4rem;
            }
            .explorar-top{
                .content-left{
                    h3{
                        font-size: 2.2rem;
                    }
                    p{
                        font-size: 1.5rem;
                        margin-top: 2.5rem;
                        margin-bottom: 5rem;
                        max-width: 60rem;
                    }
                    .btn-explorar{
                        padding: 1.8rem 3.2rem;
                        font-size: 1.6rem;
                    }
                }
                .content-right{
                    width: 100%;
                    max-width: 66rem;
                    height: 50rem;
                }
            }
            .explorar-bottom{
                .content-right{
                    max-width: 66rem;
                    height: 40rem;
                    img{
                        height: 40rem;
                    }
                }
                .content-left{
                    h3{
                        font-size: 2.2rem;
                    }
                    p{
                        font-size: 1.5rem;
                        margin-top: 2.5rem;
                        margin-bottom: 5rem;
                        max-width: 60rem;
                    }
                    .btn-explorar{
                        padding: 1.8rem 3.2rem;
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
    @media(max-width: 800px){
        .container{
            h2{
                font-size: 3rem;
            }
            .explorar-top{
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                padding-top: 6rem;
                margin-bottom: 8rem;
                .content-left{
                    h3{
                        font-size: 2.2rem;
                        text-align: center;
                    }
                    p{
                        text-align: center;
                        margin-top: 2rem;
                    }
                    .btn-explorar{
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                    }
                }
                .content-right{
                    max-width: 66rem;
                    img{
                        height: 43rem;
                    }
                }
            }
            .explorar-bottom{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 3rem;
                .content-left{
                    h3{
                        font-size: 2.2rem;
                        text-align: center;
                    }
                    p{
                        text-align: center;
                        margin-top: 2rem;
                    }
                    .btn-explorar{
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                    }
                }
                .content-right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    max-width: 66rem;
                    height: 36rem;
                    margin-bottom: 3rem;
                    img{
                        height: 36rem;
                    }
                }
            }
        }
    }
    @media(max-width: 500px){
        .container{
            h2{
                font-size: 2.4rem;
                font-weight: 500;
            }
            .explorar-top{
                padding-top: 5rem;
                margin-bottom: 6rem;
                .content-left{
                    margin-top: -9rem;
                    h3{
                        font-weight: 500;
                        font-size: 1.8rem;
                    }
                    .btn-explorar{
                        width: 100%;
                    }
                }
                .content-right{
                    max-width: 60rem;
                    img{
                        height: 37rem;
                    }
                }
            }
            .explorar-bottom{
                .content-left{
                    h3{
                        font-weight: 500;
                        font-size: 1.8rem;
                    }
                    .btn-explorar{
                        width: 100%;
                    }
                }
                .content-right{
                    max-width: 66rem;
                    img{
                        height: 36rem;
                    }
                }
            }
        }
    }
    @media(max-width: 400px){
        .container{
            .explorar-top{
                .content-left{
                    margin-top: -19rem;
                }
                .content-right{
                    max-width: 60rem;
                    img{
                        height: 30rem;
                    }
                }
            }
            .explorar-bottom{
                margin-top: -3rem;
                .content-left{
                    margin-top: -5rem;
                }
                .content-right{
                    max-width: 66rem;
                    img{
                        height: 30rem;
                    }
                }
            }
        }
    }
}